:root {
    --color: rgb(20, 43, 111);
    --bg: rgb(242, 241, 245);
}

footer {
    border-top: 1px solid rgb(204, 204, 204);
}

.fsection {
    padding: 0 20px;
    margin: 0 auto;
}

.footer-container-row-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 56px 0px;
    color: var(--color);
    width: -webkit-fill-available;
    border-bottom: 2px solid var(--color);
    margin-bottom: 40px;
}

.row-1-header {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 24px;
}

.row-1-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--bg);
    align-items: center;
    padding: 15px 24px;
    width: fit-content;
}

input {
    background: transparent;
    font-size: 16px;
}

input:focus {
    outline: none;
}

.btn {
    font-size: 16px;
    border-bottom: 1px solid var(--color)
}

.btn button {
    font-weight: 500;
}

ul {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
}

#social-icon {
    height: 24px;
    width: 24px;
    color: var(--color);
}

li {
    left: none;
    margin-right: 32px;
}

@media only screen and (min-width: 750px) {
    .fsection {
        max-width: 700px;
    }

    .footer-container-row-1 {
        flex-direction: row;

    }


    .row-1-header {
        max-width: 280px
    }

    .form {
        max-width: 350px
    }
}

@media only screen and (min-width: 960px) {
    .fsection {
        max-width: 934px;
    }

    .row-1-header {
        max-width: 294px
    }


    .form {
        max-width: 461px;
    }
}

@media only screen and (min-width: 1200px) {
    .fsection {
        max-width: 1170px;
    }

}